

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://hsexplorer.com">
                   HS EXPLORER &copy; VERSION 20240213
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right"> Theme Based on 
            <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/3fKQZaL">Creative Tim</a> &copy; 
                      
          </div>
        </div>
    </footer>
