{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Your Subscription
          </h4>
        </div>
        <div class="card-body">
          <p> Subscription Status: {{ subscription.status }}</p>
          <div class="container mt-5">
            {% if subscription.status == "active" %}
              <!-- <h4>Your subscription:</h4> -->
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">
                    {{ product.description }}
                  </p>
                </div>
              </div>
            {% else %}
              <p>Please subscribe with Stripe</p>
              <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
