{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load plotly_dash %}



    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Search HS Code</h4>
            <p class="card-category">Please describe your products</p>
          </div>
          <div class="card-body">
            {% plotly_app name='SimpleExample' ratio=0.45 %}
          </div>
        </div>
      </div>
    </div>        

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
